* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: lightseagreen;
    width: 100%;
}

.nameBar {
    padding: 10px;
    margin-left: -15px;
    border-radius: 0px 20px 20px 0px;
    border-left: 70px solid hotpink;
    border-right: 20px solid hotpink;
    background-color: hotpink;
}

.hero {
    background-image: url(./images/irid.jpeg);
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h1 {
    display: flex;
    justify-content: flex-end;
    color: rgb(120, 187, 207);
    background-color: black;
    margin: 20px;
    border: 5px solid black;
    font-size: 30px;
    border-radius: 10px;
}


.navbarlist a {
    display: block;
}

.navbarlist {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    display: inline-block;
    flex-shrink: 0;
    font-size: 6rem !important;
}

.aboutMeBox {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}

.aboutMeLeft {
    width: 15%;
    flex-shrink: 0;
    font-size: 40px;
    text-align: end;
    border-right: 3px solid black;
}

.aboutMeRight {
    width: 60%;
    flex-shrink: 0;
}



/* 
.about-me {
    max-width: 20%;
    margin-left: 40px;
    border-right: 3px solid black;
}

.about-me h2 {
    font-size: 40px;
    border: 20px solid transparent;
    border-right: 5px solid transparent;
    background-color: transparent;
    padding: 10px;
    margin-right: 0px;
}

.about-me p {
    text-align: end;
} */

/* #about-me-left {
    align-items: flex-start;
    border-left: 3px solid black;
} */

main {
    max-width: 100%;
    margin: 30px;
}

.work {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* background-color: green; */
    align-items: center;
    /* border-right: 3px solid black; */
}

.work h2 {
    font-size: 40px;
    border: 20px solid transparent;
    border-right: 5px solid transparent;
    background-color: transparent;
    padding: 10px;
    margin-right: 0px;
    border-right: 3px solid black;

}

/* .allcards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
} */

.card {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 10px;
    width: 45%;
}

#contactme {
    font-size: 40px;
    border: 20px solid transparent;
    border-right: 5px solid transparent;
    background-color: transparent;
    padding: 10px;
    margin-right: 0px;
    border-right: 3px solid black;
}
