* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: lightseagreen;
    width: 100%;
}

header h1 {
    padding: 10px;
    margin-left: -15px;
    border-left: 70px solid hotpink;
    border-right: 20px solid hotpink;
    background-color: hotpink;
}

.hero {
    background-image: url(./irid.jpeg);
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h1 {
    display: flex;
    justify-content: flex-end;
    color: rgb(120, 187, 207);
    background-color: rgb(233, 197, 197);
    margin: 20px;
    border: 10px solid rgb(233, 197, 197);
    font-size: 30px;

}

.navbar {

}

.navbarlist a {
    display: block;
}

.navbarlist {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    display: inline-block;
}

.about-me {
    max-width: 80%;
}

main {
    max-width: 80%;
    margin: 30px;
}

.work {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: green;
    align-items: center;
}

/* .allcards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
} */

.card {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 10px;
    width: 45%;
}